{% extends 'layouts/tree.html' %}
{% block title %}- Observe Experimental Data Indexes{% endblock %}

{% block treeAnnotation %}
<div class="page-header">
  <h1>Raw Statistics</h1>
</div>
<p class="lead">Index of raw statistics chunks, hashsums, metadata, locations,
etc.</p>

<p>This page is designed for web-browser access and provides common information
about runs known to the resources server database.</p>
{% endblock %}

{# vim ft=jinja #}

